label {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 20px;
    display: block;
    margin: 20px 0 5px 0;
}
fieldset {
    border: 0;
}
.overflow {
    height: 80px;
}

.disabled {
    pointer-events: none;
    cursor: default;
}
.inline {
    display: inline-block;
    margin: 0px;
    width: 137px;
}
#content {
    min-height: 230px;
    min-width: 310px;
}
#buttons-content {
    position: relative;
    top: 70px;
}
#msg-successful, #msg-failed, #card-added {
    display: none;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 70px;
}
#msg-successful :not(a), #card-added :not(a), #msg-failed {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}
#simple-add {
    position: relative;
    top: 50px;
    margin: 15px;
    text-align: center;
}
#simple-info {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}
#add-card {
    display: none;
}
#list-name, #board-name {
    color: #60779b;
}